.hero-section {
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/wedding.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    max-width: 600px;
    padding: 2rem;
    margin-left: 5%;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.hero-content.show {
    opacity: 1;
    transform: translateX(0);
}

.hero-content h2 {
    font-size: var(--font-size-big-test);
    margin-bottom: 1rem;
    text-shadow: -9px 5px 5px rgba(0, 0, 0, 0.5);
    color: #e4dac6d4;
    font-family: serif;
}

.hero-content span{

}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}



